<div class="row-fluid">
  <img src="/assets/images/header.jpg" class="img-responsive monimus-img" alt="Monimus the Owl">
</div>
<div class="row-fluid">
  &nbsp;
</div>
<div class="row-fluid">
  <div class="span2 offset3 text-center">
    <div class="progress"></div>
    <a href="#/signup"><span class="badge">1</span> Create Account</a>
  </div>
  <div class="span2 text-center">
    <div class="progress"></div>
    <a href="#"><span class="badge">2</span> Join Github</a>
  </div>
  <div class="span2 text-center">
    <div class="progress"></div>
    <a href="#"><span class="badge">3</span> Join LinkedIn</a>
  </div>
</div>

<div class="row-fluid text-center">
  &nbsp;
  <div class="alert alert-danger" ng-show="errors.form">
    <a class="close" data-dismiss="alert">×</a>
    <strong>{{ errors.form }}</strong>
  </div>
  <div class="alert alert-danger" ng-show="message">
    {{ message }}
  </div>
</div>

<div class="row-fluid">
  <div class="span4 offset2 text-center">
    <h3>Sign up using email</h3>

    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label for="inputUsername" class="control-label sr-only">Username</label>
        <input type="text" ng-model="username" placeholder="Choose a username" id="inputUsername">
      </div>

      <div class="form-group">
        <label for="inputEmail" class="control-label sr-only">Email</label>
        <input type="email" ng-model="email" placeholder="Your email address" id="inputEmail">
      </div>

      <div class="form-group">
        <label for="inputPassword" class="control-label sr-only">Password</label>
        <input type="password" ng-model="password" placeholder="Choose a password" id="inputPassword">
      </div>

      <div class="row-fluid">
        <div class="span8 offset2">
          <button class="btn btn-primary btn-block" ng-click="signup()">sign me up</button>
        </div>
      </div>

    </form>
    <br>
    <div class="row-fluid">
      <small>By clicking the "sign me up" button above you agree to our <a href="#">Terms of Service</a>
      and <a href="#">Privacy Policy</a>.</small>
    </div>
  </div>

  <div class="span4 text-center">
    <h3>Or sign in with:</h3>

    <div class="row-fluid">
      <div class="span8 offset2">
        <a href="/auth/google?redirect=/" class="btn btn-default btn-block">
          <span class="glyphicon icon-google-plus icon-large"></span> &nbsp; Google Account
        </a>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span8 offset2">
        <button type="button" class="btn btn-default btn-block disabled">
          <span class="glyphicon icon-github icon-large"></span> &nbsp; Github Account
        </button>
      </div>
    </div>
    <br>

    <div class="row-fluid">
      <div class="span8 offset2">
        <button type="button" class="btn btn-default btn-block disabled">
          <span class="glyphicon icon-linkedin icon-large"></span> &nbsp; LinkedIn Account
        </button>
      </div>
    </div>

  </div>

</div>
