<section id="block-block-5" class="block block-block clearfix">


  <div id="frontpage-start-tour">
    <div class="block-inner">
      <ul><li><a href="#" data-target="frontpage-knowledge">Knowledge</a>      <a href="#" data-target="frontpage-reputation">Reputation</a>      <a href="#" data-target="frontpage-connections">Connections</a></li>
      </ul><div class="block-content">
        <p class="heading">Hi, I’m Monimus! The wise and powerful owl.</p>
        <p>Please excuse the mess while we continue building this great tool. Let’s get started!</p>
        <p>            <a href="#" class="start-tour-button">start the tour</a>
        </p></div>
    </div>
  </div>

</section> <!-- /.block -->

<section id="block-block-6" class="block block-block clearfix">


  <div id="frontpage-knowledge">
    <div class="block-content-inner">
      <div class="block-content">
        <div class="block-title">Learn</div>
        <p>Lorem ipsum dolor sit amet, at possim labitur his. Vim ut epicuri accommodare, vel tollit quaestio qualisque ea. Utinam utroque pro ut, adolescens persequeris ex quo. Est in facilisi percipitur intellegam, his debitis impedit ei, ea quo lorem tollit. An alia theophrastus pro, facete legendos percipitur in sed.</p>
        <ul><li>I’m an interesting bullet.</li>
          <li>Oh, look, another one!</li>
          <li>Okay, last one, I promise.</li>
        </ul></div>
        <p>        <img class="block-image" src="/assets/images/front/bg_learn.png" /></p></div>
        <p>    <a href="#" data-target="frontpage-reputation" class="frontpage-next-block"></a>
        </p></div>

</section> <!-- /.block -->

<section id="block-block-7" class="block block-block clearfix">


  <div id="frontpage-reputation">
    <div class="block-content-inner">
      <div class="block-content">
        <div class="block-title">Connect</div>
        <p>Lorem ipsum dolor sit amet, at possim labitur his. Vim ut epicuri accommodare, vel tollit quaestio qualisque ea. Utinam utroque pro ut, adolescens persequeris ex quo. Est in facilisi percipitur intellegam, his debitis impedit ei, ea quo lorem tollit. An alia theophrastus pro, facete legendos percipitur in sed.</p>
        <ul><li>I’m an interesting bullet.</li>
          <li>Oh, look, another one!</li>
          <li>Okay, last one, I promise.</li>
        </ul></div>
        <p>        <img class="block-image" src="/assets/images/front/bg_connect.png" /></p></div>
        <p>    <a href="#" data-target="frontpage-connections" class="frontpage-next-block"></a>
        </p></div>

</section> <!-- /.block -->

<section id="block-block-8" class="block block-block clearfix">


  <div id="frontpage-connections">
    <div class="block-content-inner">
      <div class="block-content">
        <div class="block-title">Succeed</div>
        <p>Lorem ipsum dolor sit amet, at possim labitur his. Vim ut epicuri accommodare, vel tollit quaestio qualisque ea. Utinam utroque pro ut, adolescens persequeris ex quo. Est in facilisi percipitur intellegam, his debitis impedit ei, ea quo lorem tollit. An alia theophrastus pro, facete legendos percipitur in sed.</p>
        <ul><li>I’m an interesting bullet.</li>
          <li>Oh, look, another one!</li>
          <li>Okay, last one, I promise.</li>
        </ul></div>
        <p>        <img class="block-image" src="/assets/images/front/bg_succeed.png" /></p></div>
        <p>    <a href="#" data-target="frontpage-teacher" class="frontpage-next-block"></a>
        </p></div>

</section> <!-- /.block -->

<section id="block-block-2" class="block block-block clearfix">


  <div id="frontpage-teacher">
    <div class="block-content-inner">
      <div class="block-content">
        <div class="block-title">Teachers</div>
        <p>Lorem ipsum dolor sit amet, at possim labitur his. Vim ut epicuri accommodare, vel tollit quaestio qualisque ea. Utinam utroque pro ut, adolescens persequeris ex quo. Est in facilisi percipitur intellegam, his debitis impedit ei, ea quo lorem tollit. An alia theophrastus pro, facete legendos percipitur in sed.</p>
        <ul><li>I’m an interesting bullet.</li>
          <li>Oh, look, another one!</li>
          <li>Okay, last one, I promise.</li>
        </ul></div>
        <p>        <img class="block-image" src="/assets/images/front/bg_teacher.png" /></p>
        <div class="clear"></div>
    </div>
    <p>    <a href="#" data-target="frontpage-student" class="frontpage-next-block"></a>
    </p></div>

</section> <!-- /.block -->
<section id="block-block-3" class="block block-block clearfix">


  <div id="frontpage-student">
    <div class="block-content-inner">
      <div class="block-content">
        <div class="block-title">Students</div>
        <p>Lorem ipsum dolor sit amet, at possim labitur his. Vim ut epicuri accommodare, vel tollit quaestio qualisque ea. Utinam utroque pro ut, adolescens persequeris ex quo. Est in facilisi percipitur intellegam, his debitis impedit ei, ea quo lorem tollit. An alia theophrastus pro, facete legendos percipitur in sed.</p>
        <ul><li>I’m an interesting bullet.</li>
          <li>Oh, look, another one!</li>
          <li>Okay, last one, I promise.</li>
        </ul></div>
        <p>        <img class="block-image" src="/assets/images/front/bg_student.png" /></p></div>
        <p>    <a href="#" data-target="frontpage-organizations" class="frontpage-next-block"></a>
        </p></div>

</section> <!-- /.block -->

<section id="block-block-9" class="block block-block clearfix">


  <div id="frontpage-organizations">
    <div class="block-content-inner">
      <div class="block-content">
        <div class="block-title">Organizations</div>
        <p>Lorem ipsum dolor sit amet, at possim labitur his. Vim ut epicuri accommodare, vel tollit quaestio qualisque ea. Utinam utroque pro ut, adolescens persequeris ex quo. Est in facilisi percipitur intellegam, his debitis impedit ei, ea quo lorem tollit. An alia theophrastus pro, facete legendos percipitur in sed.</p>
        <ul><li>I’m an interesting bullet.</li>
          <li>Oh, look, another one!</li>
          <li>Okay, last one, I promise.</li>
        </ul></div>
        <p>        <img class="block-image" src="/assets/images/front/bg_organizations.png" /></p>
        <div class="clear"></div>
    </div>
    <p>    <a href="#" data-target="frontpage-contacts" class="frontpage-next-block"></a>
    </p></div>

</section> <!-- /.block -->
