<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns:content="http://purl.org/rss/1.0/modules/content/"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:og="http://ogp.me/ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:sioct="http://rdfs.org/sioc/types#"
      xmlns:skos="http://www.w3.org/2004/02/skos/core#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
  <head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    [[#doIndex]]
    <meta name="robots" content="all"/>
    [[/doIndex]]
    [[^doIndex]]
    <meta name="robots" content="none">
    [[/doIndex]]
    <title>Welcome to monimus.com we are currently under construction.</title>
    [[#css]]styles/system.base.css[[/css]]
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" media="all" />
    [[#css]]styles/overrides.css[[/css]]
    <!-- HTML5 element support for IE6-8 -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  </head>
  <body class="html front not-logged-in no-sidebars page-front-page" >
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <header id="navbar" role="banner" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <img id="menu_hover" src="/assets/images/front/icon_menu_hover.png" />

          [[^user]]
          <a class="logo pull-left" href="/" title="Home">
            <img src="/assets/images/logo.png" alt="Home" />
          </a>
          [[/user]]
          [[#user]]
          <a class="logo pull-left" href="/home" title="Home">
            <img src="/assets/images/logo.png" alt="Home" />
          </a>
          [[/user]]

          <div class="nav-collapse collapse">
            <nav role="navigation">
              <div class="region region-navigation">
                <section id="block-block-4" class="block block-block clearfix">

                  <div id="frontpage-nav-bar">
                    <ul class="block-main-menu"><li class="first"><a href="#" data-target="frontpage-start-tour">Meet Monimus</a></li>
                      <li><a href="#" data-target="frontpage-teacher">Teachers</a></li>
                      <li><a href="#" data-target="frontpage-student">Students</a></li>
                      <li><a href="#" data-target="frontpage-organizations">Organizations</a></li>
                      <li><a href="#" data-target="frontpage-contacts">Contact</a></li>
                      <li class="last active"><a href="#" data-target="frontpage-request-invitation">request invitation</a></li>
                    </ul><div class="block-secondary-menu">
                      <ul><li><a href="#" data-target="frontpage-knowledge">Learn</a>      <a href="#" data-target="frontpage-reputation">Connect</a>      <a href="#" data-target="frontpage-connections">Succeed</a></li>
                      </ul></div>
                  </div>

                </section> <!-- /.block -->

                <section id="block-bconfig-bootstrap-login" class="block block-bconfig clearfix">

                  <ul class="nav pull-right">
                    <li class="dropdown">
                      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign in <strong class="caret"></strong></a>
                      <div class="dropdown-menu embedded-form">
                        <div id="ajax-user-login-wrapper">

                          <form action="/auth/login" method="post" id="user-login" accept-charset="UTF-8">
                            <div>
                              <div class="bootstrap-user-loginform-wrapper">

                                [[#flash]]
                                [[#error]]
                                <div class="alert alert-error">
                                  <strong>[[error]]</strong>
                                </div>
                                [[/error]]
                                [[/flash]]

                                <input type="hidden" name="_csrf" value="[[csrf]]"/>
                                <div class="control-group form-type-textfield form-item-name form-item">
                                  <label for="edit-name" class="control-label">Username <span class="form-required" title="This field is required.">*</span></label>
                                  <div class="controls">
                                    <input data-placeholder="Username" type="text" id="edit-name" name="username" value="" maxlength="60" class="form-text required" />
                                    <p class="help-block">Enter your monimus.com username.</p>
                                  </div>
                                </div>

                                <div class="control-group form-type-password form-item-pass form-item">
                                  <label for="edit-pass" class="control-label">Password <span class="form-required" title="This field is required.">*</span></label>
                                  <div class="controls">
                                    <input data-placeholder="Password" data-input-type="password" type="password" id="edit-pass" name="password" maxlength="128" class="form-text required" />
                                    <p class="help-block">Enter the password that accompanies your username.</p>
                                  </div>
                                </div>

                                <button class="btn form-submit" id="edit-submit" name="op" value="login to my account" type="submit">login to my account</button>
                                <a href="/home#/recover-password" class="forgot-password">Forgot your password?</a>
                                <div class="seperator"></div>
                                <a href="/auth/google" class="googleplus"><i class="icon-google-plus icon-white icon-2x"></i> login with google+</a>
                                <a href="/auth/linkedin" class="linkedin"><i class="icon-linked-in icon-white icon-2x"></i> login with linkedin</a>
                                <a href="/auth/github" class="github"><i class="icon-github icon-white icon-2x"></i> login with github</a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section> <!-- /.block -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div class="highlighted">  <div class="region region-highlighted">
      <section id="block-block-1" class="block block-block clearfix">


        <div id="frontpage-request-invitation">
          <div class="block-inner">
            <div class="block-title">
              Join the online<br />education revolution
            </div>
            <div class="block-content">
              <!--<div class="submenus"><p>                <a href="#" class="knowledge"><img src="/assets/images/front/icon_knowledge.png" /></a><a href="#" class="reputation"><img src="/assets/images/front/icon_reputation.png" /></a><a href="#" class="connections"><img src="/assets/images/front/icon_connections.png" /></a>
              </div>
              <p>-->
              <div class="block-form">
                <p>Now available by invitation only</p>
                <p>                <input type="text" name="email" id="frontpage_request_invitation_email" data-placeholder="Type your email" /><button id="frontpage_request_invitation_submit">get invited to my web class</button>
                </p></div>
            </div>
          </div>
        </div>

      </section> <!-- /.block -->

      [[& yield]]

      <footer class="footer container">
        <div class="region region-footer">
          <section id="block-block-10" class="block block-block clearfix">


            <div id="frontpage-contacts">
              <div class="block-inner">
                <div class="block-inner-inner">
                  <div class="block-forms">
                    <div class="block-forms-inner">
                      <div class="emoticon"></div>
                      <div class="block-title">Contact us<br /><span>We’d love to hear from you!</span></div>
                      <div class="contact-information">
                        <p><strong>Phone</strong><br />555.555.5555</p>
                        <p><strong>Call us</strong><br />Company Name<br />Address Line 1<br />Address Line 2</p>
                        <p><strong>Fax</strong><br />555.555.5555</p>
                      </div>
                      <form id="contact-us" class="contact-form" method="post" action="/contact-us">
                        <input type="hidden" name="_csrf" value="[[csrf]]"/>
                        <div id="contact-form-message" class="alert alert-info"></div>
                        <p>                        <input type="text" name="name" data-placeholder="Your name" /><br /><input type="text" name="email" data-placeholder="Email address" /><br /><textarea name="message" data-placeholder="Message"></textarea><br /><button type="submit">send your message</button></p>
                        <div style="display: none;"><input type="hidden" id="frontpage-contacts-hidden-prevent-field" name="prevent_code" value="XsXsXs,a.ssd#$$..." /></div>
                      </form>
                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </section> <!-- /.block -->

          <section id="block-block-11" class="block block-block clearfix">
            <div class="footer-container">
              <p class="copyright">© 2013 My Web Class<span>    |    </span><a href="#">Terms</a><span>  -  </span><a href="#">Privacy</a><span>  -  </span><a href="#">Security</a></p>
              <p><a href="#">Status</a><span>  -  </span><a href="#">API</a><span>  -  </span><a href="#">Training</a><span>  -  <a href="#">Blog</a>  -  </span><a href="#">About</a></p>
            </div>

          </section> <!-- /.block -->
        </div>
      </footer>

      <script src="/socket.io/socket.io.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
      [[#js]]front/main.js[[/js]]
  </body>
</html>
