<!DOCTYPE html>
<html ng-app="CoreFrontend">
<head>
    <title ng-bind="$state.current.name">Kabam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[[description]]"/>
    <meta name="keywords" content="[[keywords]]"/>
    [[#doIndex]]
    <meta name="robots" content="all"/>
    [[/doIndex]]
    [[^doIndex]]
    <meta name="robots" content="none">
    [[/doIndex]]
    [[#css]]styles/main.css[[/css]]
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Kabam</a>
            <ul class="nav" ng-hide="authService.isAuthenticated()" ng-cloak>
                <li><a ui-sref='login'>Log in</a></li>
                <li><a ui-sref='signup'>Sign up</a></li>
            </ul>
            <ul class="nav pull-right" ng-show="authService.isAuthenticated()" ng-cloak>
                <li><a ui-sref="profile">{{ authService.user.username }}</a></li>
                <li><a href="#" ng-click="authService.logOut()">Log out</a></li>
            </ul>
        </div>
    </div>
</div>
<div ui-view></div>
<script type="text/javascript">
    window.CONFIG = {
        signUpURL: '/auth/signup',
        loginURL: '/auth/login',
        logoutURL: '/auth/logout'
    };
    window.USER = [[& user ]];
</script>
[[#js]]kabam/app.js[[/js]]
</body>
</html>