<div ng-controller="RoomController" ng-init="init()">

  <h2>{{ 'Room ' + room.id}}</h2>
  <div class="span8" id="call-container">
    <h3>Callee: {{ room.callee }}</h3>
    <div id="remote-video-container">
      <button ng-click="startPeerConnection()">Connect</button>
    </div>
  </div>

  <div class="span4" id="chat-tools">
    <h3>Me: {{ room.caller }}</h3>
    <div id="local-video-container">
    </div>

    <div id="chat">
      <h3>Message</h3>
      <ul id="chat-content">
        <li ng-repeat="message in room.messages">
          <strong>{{message.user}}</strong>: {{message.content}}
        </li>
      </ul>

      <form ng-submit="sendMessage()">
        <input type="text" ng-model="room.newMessage" placeholder="Send message"></input>
      </form>
    </div>
  </div>
</div>